html,
body {
  margin: 0;
  padding: 0;
}

.full-height {
  height: 100vh;
}

.container-column {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
}

.flex-full-height {
  flex: 1 1 0;
}

.column {
  flex: 1 1 0;
}

.scroll-y {
  overflow: scroll;
}

